<!-- IF $A -->
#######################
Aero Configuration File
#######################

Options you can configure:

- LOGO -
$A_LOGO = Displays the logo image in the header.
$A_LOGO_URL = The url location of your logo. (Default: {T_THEME_PATH}/images/site_logo.gif)
$A_REVERT_LOGO = Reverts logo code back to the original. (Turn on when using logo extensions. Custom logo url and resize will no longer work.)

- HEADER -
$A_DESCRIPTION = Displays the site description. (Turn off if using wide logo.)
$A_SEARCH = Displays the header search. (Turn off if using extra wide logo.)

- COLOR -
$A_DEFAULT_COLOR = Sets the default color. (Options: blue, black, green, pink, purple, red)
$A_COLOR_SWITCHER = Displays the color switcher for users.

- LAYOUT -
$A_LEFTPROFILE = Moves user info on viewtopic to the left side.
$A_SIMPLE_ONLINE_STATUS = Switches the online status image to a simple online dot next to the username.

- MISC -
$A_NIGHTMODE = Displays the night mode switch.
$A_COLLAPSIBLE_CATEGORIES = Enables collapsible categories.

--- MAKE CHANGES BELOW TO TURN ON/OFF/EDIT FEATURES ---  (Options: 1=On 0=Off)
<!-- ENDIF -->

<!-- DEFINE $A_LOGO = '1' -->
<!-- DEFINE $A_LOGO_URL = '{T_THEME_PATH}/images/site_logo.gif' -->
<!-- DEFINE $A_REVERT_LOGO = '0' -->

<!-- DEFINE $A_DESCRIPTION = '1' -->
<!-- DEFINE $A_SEARCH = '1' -->

<!-- DEFINE $A_DEFAULT_COLOR = 'blue' -->
<!-- DEFINE $A_COLOR_SWITCHER = '1' -->

<!-- DEFINE $A_LEFTPROFILE = '0' -->
<!-- DEFINE $A_SIMPLE_ONLINE_STATUS = '0' -->

<!-- DEFINE $A_NIGHTMODE = '1' -->
<!-- DEFINE $A_COLLAPSIBLE_CATEGORIES = '1' -->
