<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>
<!-- INCLUDE config.html -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
{META}
<title>{SITENAME} &bull; <!-- IF S_IN_MCP -->{L_MCP} &bull; <!-- ELSEIF S_IN_UCP -->{L_UCP} &bull; <!-- ENDIF -->{PAGE_TITLE}</title>

<!-- IF S_ALLOW_CDN -->
<script>
	WebFontConfig = {
		google: {
			families: ['Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese']
		}
	};

	(function(d) {
		var wf = d.createElement('script'), s = d.scripts[0];
		wf.src = 'https://cdn.jsdelivr.net/npm/webfontloader@1.6.28/webfontloader.min.js';
		wf.async = true;
		s.parentNode.insertBefore(wf, s);
	})(document);
</script>
<!-- ENDIF -->

<!-- IF $A_COLOR_SWITCHER -->
<script>
	if (localStorage.getItem('aero_color')){document.head.parentNode.className=""+localStorage.getItem('aero_color')+"";}
</script>
<!-- ENDIF -->

<link href="{T_FONT_AWESOME_LINK}" rel="stylesheet">
<link href="{T_STYLESHEET_LINK}" rel="stylesheet">
<link href="{T_STYLESHEET_LANG_LINK}" rel="stylesheet">
<!-- IF $A_DEFAULT_COLOR eq 'blue' --><link href="{T_THEME_PATH}/blue.css?v=1.1.17" rel="stylesheet"><!-- ENDIF -->
<!-- IF $A_DEFAULT_COLOR eq 'black' --><link href="{T_THEME_PATH}/black.css?v=1.1.17" rel="stylesheet"><!-- ENDIF -->
<!-- IF $A_DEFAULT_COLOR eq 'green' --><link href="{T_THEME_PATH}/green.css?v=1.1.17" rel="stylesheet"><!-- ENDIF -->
<!-- IF $A_DEFAULT_COLOR eq 'pink' --><link href="{T_THEME_PATH}/pink.css?v=1.1.17" rel="stylesheet"><!-- ENDIF -->
<!-- IF $A_DEFAULT_COLOR eq 'purple' --><link href="{T_THEME_PATH}/purple.css?v=1.1.17" rel="stylesheet"><!-- ENDIF -->
<!-- IF $A_DEFAULT_COLOR eq 'red' --><link href="{T_THEME_PATH}/red.css?v=1.1.17" rel="stylesheet"><!-- ENDIF -->

<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
	<link href="{T_THEME_PATH}/bidi.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<!-- ENDIF -->

<!--[if lte IE 9]>
	<link href="{T_THEME_PATH}/tweaks.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<![endif]-->

<!-- DEFINE $POPUP = 1 -->

<!-- EVENT simple_header_head_append -->

{$STYLESHEETS}

<!-- EVENT simple_header_stylesheets_after -->

</head>

<body id="phpbb" class="nojs {S_CONTENT_DIRECTION} {BODY_CLASS} simplebg">

<!-- EVENT simple_header_body_before -->

<!-- IF $A_NIGHTMODE -->
<div id="overlay"></div>
<script>
	if (localStorage.getItem('dark_mode')){document.getElementById("overlay").className=""+localStorage.getItem('dark_mode')+"";}
</script>
<!-- ENDIF -->

<div id="wrap" class="wrap">
	<a id="top" class="top-anchor" accesskey="t"></a>
	<div id="page-body" class="page-body" role="main">
